---
import BaseLayout from 'layout:BaseLayout';
import Bio from 'component:Bio';
import PostExcerpt from 'component:PostExcerpt';
import { SiteMeta } from '../siteMeta';
import { getCollection } from 'astro:content';
import { getSortedPosts } from 'utils';
const { url } = Astro.request;
const description = SiteMeta.description;
const posts = await getCollection('blog', ({ data }) => data.draft !== true);
const sortedPosts = getSortedPosts(posts);
---

<BaseLayout title="Slushman" {description} permalink={url}>
	<div class="grid sm:gap-2 sm:p-2 sm:grid-cols-post-list">
    {sortedPosts.map(({ data, slug }) => (
      <PostExcerpt date={data.pubDate} description={data.description} slug={slug} title={data.title} />
    ))}
  </div>
</BaseLayout>