---
import { Debug } from 'astro/components';
import BaseLayout from 'layout:BaseLayout';
import PostExcerpt from 'component:PostExcerpt';
import { SiteMeta } from '../siteMeta';
import { getCollection } from 'astro:content';
import { getSortedPosts } from 'utils';
const { pathname } = Astro.url;
const description = SiteMeta.description;
const posts = await getCollection('blog', ({ data }) => data.draft !== true);
const sortedPosts = getSortedPosts(posts);
const permalink = `${SiteMeta.url}${pathname}/`;
---
<BaseLayout title="Slushman" {description} permalink={permalink}>
	<div class="grid sm:gap-2 sm:p-2 sm:grid-cols-post-list">
    {sortedPosts.map(({ data, slug }) => (
      <PostExcerpt date={data.pubDate} description={data.description} slug={slug} title={data.title} />
    ))}
  </div>
</BaseLayout>