---
export interface Props {
  caption?: string;
  height?: string;
  id: number;
  tab?: string;
  theme?: string;
  title: string;
  user?: string;
  width?: string;
}
const {
  caption = '',
  height = '268px',
  id,
  tab = 'result',
  theme = '0',
  title,
  user = 'slushman',
  width = '100%',
} = Astro.props;

const styledHeight = height ? 'h-[' + height + ']' : 'h-[268px]';

const src = `//codepen.io/${user}/embed/${id}/?height=${height}&theme-id=${theme}&default-tab=${tab}`;
---
<figure class={`m-0 ${styledHeight}`}>
  <p>{title}</p>
  <div class="w-full">
    <iframe
      allowfullscreen={true}
      allowtransparency={true}
      class={` ${styledHeight}`}
      frameborder="no"
      height={height}
      scrolling="no"
      src={src}
      title={title}
      width={width}
    >
      <a href={`https://codepen.io/${user}/pen/${id}/`}>See this pen</a> by {user} (<a href={`https://codepen.io/${user}`}>@{user}</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  </div>
  {caption.length < 0 && <figcaption>{caption}</figcaption>}
</figure>
